form
  .form-group
    label(for="title") Title
    input.form-control(ng-model='form.title', name='title')
  .form-group
    label(for="exampleInputPassword1") Body
    textarea.form-control(ng-model='form.text', cols='50', rows='15')
  .cow
    div(class="alert alert-danger" ng-class="{true: 'display-none', false: 'display-block'}[alertType]" , role="alert") Text content can not be empty
    button.btn.btn-success(ng-click='submitPost()', type="submit") Submit
    