.panel.panel-default
      .panel-heading
        .panel-title {{post.title}}
      .panel-body {{post.text}}

.alert.alert-danger(role="alert") Are you sure you want to delete this post? 
button.btn.btn-danger(type="button", ng-click='deletePost()') Yes
|  - 
button.btn.btn-warning(type="button", ng-click='home()') No thanks 
