.panel.panel-default
      .panel-body {{commentText}}

.alert.alert-danger(role="alert") 确定要删除此评论吗？
button.btn.btn-danger(type="button", ng-click='deleteComment()') 是的
button.btn.btn-warning.btn-left-20(type="button", ng-click='home()') 不了
