//- p There are {{posts.length}} posts
a.btn.btn-success.add-post-btn(href="/addPost", role="button") 发布新文章
div(ng-repeat='post in posts')
  .panel.panel-default
      .panel-heading
        a(href='/readPost/{{post.id}}').panel-title {{post.title}}
        span.span-left-30 Author: 7Finn
      .panel-body
        {{post.text}}