//- p There are {{posts.length}} posts

form.form-inline.containter-marbottom-20(role="search")
  a.btn.btn-success(href="/addPost", role="button") 发布新文章
  .form-group.btn-left-20
    input.form-control.search-form(type="text", placeholder="Search", ng-model="key")
div(ng-repeat='post in posts | filter : {title : key}')
  .panel.panel-default
    .panel-heading
      a(href='/readPost/{{post.id}}').panel-title {{post.title}}
      span.span-left-30 Author: {{post.author}}
    .panel-body
      {{post.text}}
