//- p There are {{posts.length}} posts

form.form-inline.containter-marbottom-20(role="search")
  a.btn.btn-success.float-right(href="/addPost", role="button")
    span.glyphicon.glyphicon-edit.span-right-10
    span 发布新文章
  
  h4 
    span.glyphicon.glyphicon-search.span-right-10
    span 搜索标题或作者:

table.table(ng-table="tableParams", show-filter="true")
  tr(ng-repeat="post in $data | filter : key")
    td.no-border(filter="{title: 'text'}")
      .panel.panel-default
        .panel-heading
          a(href='/readPost/{{post.id}}' data-title="'title'").panel-title {{post.title}}
          span.span-left-30 作者: {{post.author}}
        .panel-body
          pre.my-pre
            span(ng-class="{true: 'text-danger', false: ''}[post.hide]") {{post.text}}