section
  .panel.panel-default
    .panel-heading
      .panel-title {{post.title}}
    .panel-body 
      p Author: {{post.author}}
      {{post.text}}
  button(class="btn btn-success",
    ng-class="{true: 'display-inline', false: 'display-none'}[permissionComment]",
    ng-click="addComment()") Comment
  a(class="btn btn-primary btn-left-20", href='/editPost/{{post._id}}',
    ng-class="{true: 'display-inline', false: 'display-none'}[permissionEdit]", type="button") Edit
  a(class="btn btn-danger btn-left-20", href='/deletePost/{{post._id}}',
    ng-class="{true: 'display-inline', false: 'display-none'}[permissionEdit]", type="button") Delete


  form(class="comment-form" ng-class="{true: 'display-block', false: 'display-none'}[formType]")
    .form-group
      label Comment text
      textarea.form-control(ng-model='form.commentText', cols='50', rows='3')
    .cow
      div(class="alert alert-danger" ng-class="{true: 'display-none', false: 'display-block'}[alertType]" ,   role="alert") Text content can not be empty
      button.btn.btn-success(ng-click='submitComment()', type="submit") Submit
  
  div(ng-repeat='comment in post.comments')
    .panel.panel-default.comment-panel
      .panel-body
        .media
          .media-left
            img.media-object.img-size(src="img/head.jpg", alt="...")
          .media-body
            h4.media-heading {{ comment.author }}
            | {{ comment.commentText }}...

    