/* app css stylesheet */

.add-post-btn {
  margin-bottom: 20px;
}

textarea {
  resize: none;
}

.clear-btn {
  margin: 0 20px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

.my-pre {
  display: inline;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-size: 14px;
}

.comment-operation {
  list-style: none;
  padding: 8px 15px;
  border-radius: 4px;
  background: none;
  margin-bottom: 0;
  text-align: right;
}

.comment-operation > li{
  margin: 0 5px;
  display: inline-block;
}

.search-form {
  display: inline;
}

.containter-marbottom-20 {
  margin-bottom: 20px;
}

.img-head {
  border-radius: 4px;
}

.span-left-30 {
  margin-left: 30px;
}

.btn-left-20 {
  margin-left: 20px;
}

.span-right-10 {
  margin-right: 10px;
}

.img-size {
  width: 50px;
}

.comment-panel {
  margin-top: 20px;
}

.comment-form {
  margin-top: 20px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
